/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

@import "tailwindcss/components";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300;600;700;900&family=IBM+Plex+Sans:wght@300;600;700;900&family=JetBrains+Mono:wght@300;600;700;900&display=swap');

[x-cloak] {
    display: none;
}

@layer base {
    #navigation{
        @apply flex flex-col justify-center lg:flex-row lg:justify-between px-5 py-5 underline;
        a {
            @apply text-lg font-semibold;
        }
        a:hover {
            @apply font-light;
        }
        ul#right-navigation{
            @apply flex flex-row justify-end gap-x-5;
        }
    }

    #publications {
        @apply flex flex-col justify-center lg:w-2/3 mx-auto my-5 space-y-3 prose lg:prose-xl ;

        .publication-title {
            @apply text-xl font-condensed font-black;
        }

        .publication-brief {
            @apply text-sm font-light font-sans;
        }

        .publication-readmore {
            @apply text-xs font-semibold underline;
        }
    }

    #post-detail{
        @apply flex flex-col justify-center lg:w-1/3 mx-auto mt-5 overflow-hidden prose lg:prose-lg lg:min-h-screen;

        #post-head{
            @apply border-b-2 border-gray-300 ;

            h1 {
                @apply font-sans;
            }

            .post-meta{
                @apply flex flex-col text-sm;
            }

            .post-cover-image{
                @apply w-full;
            }
        }

        #post-body{
            @apply font-condensed;
        }

        #post-footer{
            @apply border-t-2 border-gray-300 pt-5;
        }
    }
}

